/* lato-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/lato-v24-latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #fff;
  font-weight: 400;
  background-color: #2B3040;
}

img {
  vertical-align: top;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

a, button {
  transition: all 0.2s ease;
}

.container {
  width: min(90%, 1000px);
  margin: 0 auto;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 82px 0;
}

main {
  flex-grow: 1;
}

.container .background {
  aspect-ratio: 100/86;
  position: relative;
}
.container .background .bg-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(41, 45, 62, 0.8);
}

.window {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60%;
  background-color: #212534;
  z-index: 1;
}
.window .tabs {
  background-color: #2B3040;
  height: 120px;
}
.window .card {
  padding: 58px 40px 70px;
  background-color: #212534;
  display: flex;
  gap: 41px;
}
.window .card .left-col {
  width: 31%;
}
.window .card .rigth-col {
  width: 58%;
}

.pic-stars {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 19px;
}
.pic-stars img {
  aspect-ratio: 16/23;
  max-height: 230px;
  margin-bottom: 25px;
}
.pic-stars .stars-row svg {
  width: 20px;
  height: 20px;
}
.pic-stars .stars-row {
  margin-bottom: 26px;
  display: inline-flex;
  gap: 10px;
}

.right-col {
  width: 62%;
  padding-top: 12px;
}
.right-col h1 {
  position: relative;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 400;
  margin-bottom: 15px;
}
.right-col .small-text {
  font-size: 0.875rem;
  margin-bottom: 36px;
}
.right-col p {
  font-size: 0.875rem;
  line-height: 1.375rem;
  margin-bottom: 50px;
  color: #B7BACD;
  width: 90%;
}
.right-col .discount-price-button {
  display: flex;
  justify-content: flex-start;
  gap: 52px;
}
.right-col .discount-price {
  position: relative;
  align-self: flex-end;
}
.right-col .discount-price .price {
  font-size: 2rem;
  line-height: 2rem;
}
.right-col .discount-price .discount {
  font-size: 0.75rem;
  color: #FFDD3F;
  position: absolute;
  top: -24px;
  left: 0;
}
.right-col button {
  font-size: 1rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #13E28D;
  padding: 20px 30px;
  border: none;
  border-radius: 2px;
}
.right-col button:hover {
  opacity: 0.7;
}
.right-col #donut {
  position: absolute;
  right: 38px;
  top: 27%;
  transform: translateY(50%);
  width: 77.9px;
  height: 77.9px;
}
.right-col #donut svg circle:last-child {
  stroke: #00D4BE;
}
.right-col .donut-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.25rem;
  line-height: 1.375rem;
  color: #B7BACD;
}

.tab-navigation {
  display: flex;
  justify-content: space-between;
}
.tab-navigation li {
  width: 33%;
  padding: 26px 38px 32px 38px;
}
.tab-navigation li a {
  font-size: 1rem;
  color: #fff;
  text-transform: uppercase;
  display: block;
}
.tab-navigation li a:hover svg:not(#icon-3) path, .tab-navigation li a.active svg:not(#icon-3) path {
  stroke: #8D91A3;
}
.tab-navigation li a:hover #icon-3 path, .tab-navigation li a.active #icon-3 path {
  fill: #8D91A3;
}
.tab-navigation li a:hover div, .tab-navigation li a.active div {
  color: #8D91A3;
}
.tab-navigation li a svg {
  margin-bottom: 17px;
}
.tab-navigation li a .tab-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}