@mixin fz($px_size) {
  font-size: ($px_size / 16) * 1rem;
}
@mixin lh($px_size) {
  line-height: ($px_size / 16) * 1rem;
}
@import 'hamburger';


$orange-color: #F90;
$text-color: #544837;
$sub-text-color: #2F281E;

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
}
img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}
a, button {
  transition: all .2s ease-in;
  text-decoration: none;
}
ul, ol {
  list-style: none;
}
/*====*/
body {
  font-family: 'Montserrat', sans-serif;
  color: $text-color;
  @include fz(16);
}
main {
  padding-top: 70px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17px 0;
  margin-bottom: 70px;
}
.container {
  max-width: 1200px;
  width: calc(100% - 40px);
  margin: 0 auto;
}
header nav ul {
  display: flex;
  li {
    list-style: none;
    a {
      color: #2F281E;
      text-decoration: none;
      padding: 0 10px;
    }
  }
}
ul.main-menu li a:hover {
  color: $orange-color;
}
.btn {
  color: #fff;
  text-decoration: none;
  background-color: $orange-color; 
  border: 1px solid $orange-color; 
  cursor: pointer;
  padding: 13px 21px;
  border-radius: 4px;
  font-family: 'Montserrat';
  font-weight: 600;
  @include fz(16);
}
.btn:hover {
  transform: scale(1.1);
  background-color: #fff;
  color: $orange-color;
}
.btn-white {
  background-color: #fff; 
  color: #2F281E;
  border: 1px solid #BCD0E5;
  margin-right: 29px;
  padding: 13px 26px;
}
.btn-white:hover {
  background-color: #2F281E;
  color: #fff;
}
/*===SECTION-FIRST===*/

.container.flex {
  display: flex;
  justify-content: space-between;
}
.left-col {
  width: 46.34%;
}
.left-col.first-sec {
  padding-top: 97px;
}
h1 {
  @include fz(44);
  font-weight: 700;
  line-height: 54px;
  margin-bottom: 30px;
}
.slogan {
  @include fz(16);
  @include lh(26);
}
.second-sec .slogan {
  max-width: 500px;
}
.first-sec .slogan {
  margin-bottom: 30px;
  @include fz(18);
  @include lh(28);
}
.btn-first-section {
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*===#SECTION-FIRST===*/
/*===SECOND-SECTION===*/
.icon-back {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 30%;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-back img {
  width: auto;
  height: auto;
}
.icon-bg-color1 {
  background-color: #7752BE;
}
.icon-bg-color2 {
  background-color: #FAB005;
}
.icon-bg-color3 {
  background-color: #F03E3D;
}
.icon-bg-color4 {
  background-color: #4DADF7;
}
.h2 {
  @include fz(36);
  font-weight: 700;
  line-height: 44px;
}
.h2.first-title {
  text-align: center;
  margin-bottom: 50px;
}
.title-under-icon {
  @include fz(22);
  line-height: 26.82px;
  font-weight: 600;
  margin-bottom: 16px;
}
.descr-under-icon {
  line-height: 26px;
}
.icon-list {
  display: flex;
  margin-bottom: 70px;
  gap: 40px;
}
.icon-list li {
  width: 25%;
}
div.flex-btn-second-sec {
  display: flex;
  justify-content: center;
}
.btn-second-section {
  width: 180px;
  padding: 13px auto;
  text-align: center;
  line-height: 24px;
  margin-bottom: 74.24px;
}
.second-block {
  // background-image: url('../img/bg.svg');
  background-position: center bottom;
  // background-size: cover;
  background-repeat: no-repeat;
  // background-color: #fcf1e4;
  aspect-ratio: 2324/388;
}
.h3 {
  font-weight: 700;
  @include fz(20);
  line-height: 30px;
  color: $sub-text-color;
  margin-bottom: 30px;
}
.h3.last {
  margin-bottom: 0px;
}
/*===#SECOND-SECTION===*/
/*===FOOTER===*/
footer .container {
  padding-top: 70px;
  padding-bottom: 40px;
}
.input {
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.btn.btn-footer {
  width: 180px;
}
.tel {
  padding: 15px 10px;
  width: 100%;
}
.logo-footer {
  width: auto;
  height: auto;
  align-self: start;
}
::placeholder {
  color: #BCD0E5;
  @include fz(16);
  line-height: 19.5px;
  font-weight: 400;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 70px;
}
.footer-col {
  width: 11%;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 15px;
}
.footer-col ul li a {
  @include fz(16);
  line-height: 26px;
  color: #544837;
  text-decoration: none;
  font-weight: 500;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: $orange-color;
}
.form {
  width: 28%;
}


.h2.second-title {
  margin-bottom: 20px;
}
.h4 {
  font-weight: 700;
  @include lh(26);
  margin-bottom: 12px;
}
.tick-row {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
  max-width: 100%;
  @include lh(26);
}
.title-descr {
  margin-bottom: 38px;
  font-weight: 500;
}
.forth-sec .title-descr {
  margin-bottom: 45px;;
}
.title-par {
  margin-bottom: 28px;
  max-width: 91%;
  @include lh(26);
}
.first-block {
  margin-bottom: 99px;
}
.second-block {
  margin-bottom: 100px;
}
.forth-block {
  margin-bottom: 100px;
}
.sup {
  margin-bottom: 1px;
}
/*===#FOOTER===*/
.pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pic.designer {
  aspect-ratio: 562/573;
}
.left-col.third-sec {
  padding-top: 26px;
}
.left-col.forth-sec {
  padding-top: 48px;
  padding-left: 52px;
}
.fifth-block {
  margin-bottom: 100px;
}
.fifth-block .left-col {
  padding-top: 40px;
}
.third-block {
  margin-bottom: 95px;
}
.third-sec .slogan {
  max-width: 90%;
}
.forth-sec .slogan {
  max-width: 85%;
}
.fifth-block .slogan,  {
  max-width: 95%;
  @include lh(26);
}
.fifth-block .title-par {
  max-width: 100%;
}
.separator {
  width: 100%;
  height: 1px;
  background-color: #BCD0E5;
}
@media screen and (max-width: 1050px) {
  .icon-list {  
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }
  .icon-list li {
    width: 35%;
    padding-left: 80px;
    /* border: 1px solid blue; */
  }
  .left-col, .right-col {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .left-col.first-sec{
    padding-top: 40px;
  }
  .flex {
    flex-wrap: wrap;
    justify-content: center;
  }
  .btn-first-section {
    margin: 0 auto 20px;
  }
  .row {
    flex-wrap: wrap;
    gap: 30px;
  }
  .row div:last-child {
  }
  .footer-col {
    width: 12%;
  }
  .form {
    width: 34%;
  }
  .logo-footer {
    width: 100%;
    text-align: center;
  }
  .logo-footer img {
    width: auto;
  }
  .forth-block {
    margin-bottom: 0;
  }
  .title-par, .slogan, .tick-list {
    margin: 0 auto 28px;
  }
  .right-col {
    order: 1;
  }
  .row {
    justify-content: space-evenly;
  }
  .left-col.forth-sec {
    padding-left: 0;
  }
}

.hamb-wrap {
  display: none;
}
#mobile-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 350px;
  height: 100vh;
  background-color: #fff;
  transform: translateX(-100%);
  transition: all .4s ease;
  z-index: 100;
  padding-top: 10px;
  &.open {
    transform: translateX(0);
  }
}
.mob-menu {
  ul {
    margin-bottom: 34px;
    li {
      border-bottom: 1px solid $orange-color;
      padding-bottom: 4px;
      a {
        text-transform: uppercase;
        @include fz(22);
        @include lh(40);
        padding: 0 20px;
        color: $text-color;
        width: 100%;
        display: block;
        &:active {
          color: $orange-color;
        }
      }
    }
  }
}
#shadow {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(255, 153, 0, .2);
  backdrop-filter: blur(4px);
  z-index: 99;
  display: none;
  &.show {
    display: block;
  }
}
.logo-cross-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  .logo {
    margin-left: 20px;
  }
}
.header-buttons.mobbar-buttons {
  display: none;
}

@media screen and (max-width: 900px) {
  .container.header {
    justify-content: flex-end;
    gap: 29px;
    margin: 0 auto 40px;
  .main-menu {
    display: none;
  }
  .hamb-wrap {
    display: block;
  }
  .logo {
    margin-right: auto;
  }
  }
  h1 {
    @include fz(40);
  }
}


@media screen and (max-width: 870px) {
  .form {
    width: 43%;
  }
  .footer-col {
    padding-left: 9%;
    width: 35%;
  }
  .logo-footer {
    text-align: center;
  }
  .row div:last-child {
    margin: auto;
    text-align: center;
  }
  .input {
    align-items: center;
  }
  main {
    padding-top: 20px;
  }

}

@media screen and (max-width: 700px) {
  .icon-list li {
    width: 65%;
    padding-left: 0;
    text-align: center;
    /* border: 1px solid blue; */
  }
  .icon-list {
    margin: 0 auto;
    gap: 40px;
    margin-bottom: 50px;
  }
  .icon-back {
    margin: 0 auto 30px;
  }
  .container {
    margin-bottom: 40px;
  }
  .btn-first-section {
    margin-bottom: 20px;
  }


}
@media screen and (max-width: 660px) {
  .slogan {
    width: 100%;
  }
  .header-buttons {
    display: none;
  }
  .header-buttons.mobbar-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .btn.head-btn {
    padding: 14px 40px;
    margin: 0 20px;
  }
  .btn-white.head-btn {
    padding: 14px 40px;
    margin-right: 0;
    margin: 0 20px;
  }
  .left-col.third-sec {
    margin-bottom: 20px;
    padding-top: 0;
  }
  .second-block {
    margin-bottom: 40px;
  }
  .third-block {
    margin-bottom: 20px;
  }
  
}
@media screen and (max-width: 544px) {
  .slogan {
    width: 80%;
  }
  .row {
    text-align: center;
  }
  .footer-col {
    width: 100%;
    margin: 0 auto;
    padding-left: 0;
  }
  .form {
    width: 100%;
  }
  body {
    @include fz(18);
  }
  .h1 {
    @include fz(36);
  }
  .h2 {
    @include fz(26);
    margin-bottom: 18px;
    padding-top: 20px;
  }
  .container.header {
    margin: 0 auto 20px;
  }
  .icon-list {
    gap: 26px;
  }
  .icon-back {
    margin: 0 auto 20px;
  }
  .left-col {
    gap: 20px;
  }
  .left-col.first-sec {
    padding: 0;
  }
  .first-block {
    margin-bottom: 0;
  }
  .first-block .left-col {
    padding-top: 0;
  }
  .fifth-block {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 420px) {
  .h1 {
    @include fz(32);
    @include lh(46);
  }
  .h2 {
    @include fz(24);
    @include lh(34);
  }
  footer .container {
    padding-bottom: 20px;
  }
  .icon-list li {
    width: 65%;
  }
}

#man {
  animation: man 2s linear infinite;
}
@keyframes man {
  from {
    transform: translateY(0);
  }
  33% {
    transform: translateY(-20px);
  }
  66% {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0px);
  }
}
#girl-viol {
  animation: girl 2s linear infinite;
}
@keyframes girl {
  from {
    transform: translateY(0);
  }
  33% {
    transform: translateY(-1px);
  }
  66% {
    transform: translateY(30px);
  }
  to {
    transform: translateY(0px);
  }
}
#girl-dark {
  animation: girl1 2s linear infinite .2s;
}
@keyframes girl1 {
  from {
    transform: translateY(0);
  }
  33% {
    transform: translateY(-25px);
  }
  66% {
    transform: translateY(1px);
  }
  to {
    transform: translateY(0px);
  }
}

#message-red {
  animation: red-m 1s linear infinite .7s;
}
@keyframes red-m {
  from {
    transform: translateY(0);
  }
  33% {
    transform: translateY(-4px);
    // transform: rotate(-5deg);
  }
  66% {
    transform: translateY(15px);
    // transform: rotate(5deg);
  }
  to {
    transform: translateY(0px);
  }
}

#message-yel {
  animation: yel-m 1s linear infinite;
}
@keyframes yel-m {
  from {
    transform: translateY(0);
  }
  33% {
    transform: translateY(-8px);
    // transform: rotate(-5deg);
  }
  66% {
    transform: translateY(10px);
    // transform: rotate(5deg);
  }
  to {
    transform: translateY(0px);
  }
}
#message-blue {
  animation: blue-m 1s linear infinite .4s;
}

@keyframes blue-m {
  from {
    transform: translateY(0);
  }
  33% {
    transform: translateY(-1px);
    // transform: rotate(-5deg);
  }
  66% {
    transform: translateY(7px);
    // transform: rotate(5deg);
  }
  to {
    transform: translateY(0px);
  }
}

#red-s {
  animation: red-s 2s linear infinite .4s;
}

@keyframes red-s {
  from {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-20px, 20px);
  }
  to {
    transform: translateY(0px);
  }
}
#bl-s {
  animation: bl-s 2s linear infinite .4s;
  transform-origin: right;
  transform-box: fill-box;
}

@keyframes bl-s {
  from {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(15deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}
#list {
  animation: list 2s linear infinite .4s;
  transform-origin: center;

}

@keyframes list {
  from {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(15deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}


#yellow-rec {
  animation: rec 1s linear infinite;
  // transform-origin: bottom;
  // transform-box: fill-box;
}

@keyframes rec {
  from {
    transform: translate(-50px, -50px);
  }
  50% {
    transform: translate(-50px, -60px);
  }
  to {
    transform: translate(-50px, -50px);
  }
}
#red-rec {
  animation: rec1 1s linear infinite;
  // transform-origin: bottom;
  // transform-box: fill-box;
}

@keyframes rec1 {
  from {
    transform: translate(-50px, -50px);
  }
  50% {
    transform: translate(-50px,-60px);
  }
  to {
    transform: translate(-50px, -50px);
  }
}