$color-font-black: #000;
$color-arrow-inactive: #202020;
$color-brown-dark: #35312D;
$color-tomato: #C62100;
$color-tomato-light: #F16A50;
$color-white: #F8F1EA;
$color-dark-dot-inactive: #CAC2BA;


@import 'fonts';
@import 'hamburger';

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@mixin fz($px_size) {
  font-size: ($px_size / 16) * 1rem;
}

@mixin lh($px_size) {
  line-height: ($px_size / 16) * 1rem;
}

body {
  font-family: 'Montserrat', sans-serif;
  @include fz(20);
  @include lh(24.38);
  color: $color-font-black;
}

img {
  vertical-align: top;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

a, button {
  transition: all .2s ease;
}

.container {
  width: min(90%, 1200px);
  margin: 0 auto;
  border: 1px solid red;
}


.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

// HEADER 
header {
  height: 80px;
  border: 1px solid blue;
  background-color: $color-white;
  .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header-icons {
      display: flex;
      gap: 28px;
      align-items: center;
      margin-left: 80px;
      a:first-child:hover path {
        fill: $color-tomato-light;
      }
      a:last-child:hover path {
        stroke: $color-tomato-light;
      }
    }
  }
}
.main-menu {
  ul {
    display: flex;
    gap: 6px;
    li{
      padding: 28px 12px;
      transition: all .2s ease;
      &:hover {
        background-color: $color-tomato-light;
        a {
          color: #fff;
        }
      }
      a {
        @include fz(20);
        font-weight: 400;
        color: $color-font-black;
        font-weight: 500;
      }
    }
  }
}
.hamb-wrap {
  display: none;
}
// #HEADER 

// FIRST SEC
#first-sec {
  margin-bottom: 72px;
}
#first-sec-slider div {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 700px;
  // aspect-ratio: 14/7;
  position: relative;
  .slider-item-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.84) 0%, rgba(217, 217, 217, 0) 100%);
  }
  .container {
    // display: flex;
    // justify-content: flex-end;
    padding: 120px 0 470px 797px;
    border: 1px solid blue;
  }
  h1, .h2 {
    @include fz(50);
    @include lh(60.95);
    font-weight: 700;
    color: $color-white;
    // width: 28%;
    text-transform: uppercase;
    text-align: center;
    // margin-right: -46px;
    margin-bottom: 38px;
  }
}
.button {
  padding: 12px 55px;
  border: 2px solid $color-white;
  display: inline-block;
  color:  $color-white;
  text-transform: uppercase;
  @include fz(18);
  @include lh(21.94);
  font-weight: 500;
  &:hover {
    background-color: $color-tomato-light;
    border-color: $color-tomato-light;
  }
}
.lSAction>.lSPrev, .lSAction>.lSNext {
  display: none;
}
.lSSlideOuter .lSPager.lSpg>li {
  padding: 0 15px;
  a {
    width: 20px;
    height: 20px;
    transition: all .2s ease;
  }
}

.lSSlideOuter .lSPager.lSpg>li {
  &.active a {
    background-color: $color-tomato-light;
  }
}
.lSSlideOuter .lSPager.lSpg>li:hover a {
  background-color: $color-tomato-light;
  opacity: 0.5;
}
.lSSlideOuter .lSPager.lSpg>li a {
  background-color: $color-dark-dot-inactive;
}
.lSSlideOuter .lSPager.lSpg {
  margin: -70px 0 42px !important;
}
// #FIRST SEC 

// SECOND SEC 
#second-sec {
  margin-bottom: 70px;
}
.h3 {
  @include fz(32);
  @include lh(39.01);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 50px;
  text-align: center;
}
.second-sec-slider {
  margin-bottom: 52px;
}
.second-sec-slider-item {
  border: 1px solid $color-white;
  width: 226px;
  height: 437px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all .2s ease;
  span {
    text-transform: uppercase;
    @include fz(10);
    @include lh(12.19);
    font-weight: 500;
    color: $color-white;
    padding: 4px 5.5px;
    background-color: $color-tomato-light;
    align-self: start;
  }
  .sold {
    background-color: $color-white;
    color: $color-font-black;
    padding: 4px 15.5px;
  }
  img {
    aspect-ratio: 204/300;
    margin-bottom: 18px;
    width: 204px;
    height: 300px;
  }
  .descr {
    @include fz(16);
    @include lh(19.5);
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
  }
  .price {
    @include fz(24);
    @include lh(29.26);
    font-weight: 700;
    text-align: center;
  }
  &:hover {
    border-color: $color-tomato-light;
  }
}

/* the slides */
.slick-slide {
  margin: 0 10px;
}
.slick-initialized .slick-slide {
  display: flex;
}

/* the parent */
.slick-list {
    margin: 0 -10px;
}
// =====

#second-sec {
  position: relative;
  .container {
    position: relative;
    text-align: center;
  }
}

.second-prev,
.second-next {
  position: absolute;
  top: 46%;
  transform: translateY(-50%);
  width: 30px; /* Adjust as needed */
  height: 30px; /* Adjust as needed */
  z-index: 1;
  cursor: pointer;
  transition: all .2s ease;
  &:hover path {
    fill: $color-tomato-light;
  }
}

.second-prev {
  left: -60px; /* Adjust as needed */
}

.second-next {
  right: -60px; /* Adjust as needed */
}
.button.btn-black {
  color: #000;
  border-color: #000;
  &:hover {
    border-color: transparent;
    color: $color-white;
  }
}

#second-sec .button {
  margin: 0 auto;
}

// #SECOND SEC 

// THIRD SEC 

#third-sec {
  background-color: $color-white;
  padding-top: 70px;
  position: relative;
  .container {
    position: relative;
  }
  .h3 {
    margin-bottom: 44px;
  }
  .slick-slide {
    margin: 0 10px;
  }
  .slick-initialized .slick-slide {
    display: flex;
  }
  
  /* the parent */
  .slick-list {
      margin: 0 0;
      padding: 0 !important;
      overflow: visible;
      margin-bottom: 70px;
  }
}

.third-prev,
.third-next {
  position: absolute;
  top: 46%;
  transform: translateY(-50%);
  width: 30px; /* Adjust as needed */
  height: 30px; /* Adjust as needed */
  z-index: 1;
  cursor: pointer;
  transition: all .2s ease;
  &:hover path {
    fill: $color-tomato-light;
  }
}

.third-prev {
  left: -60px; /* Adjust as needed */
}

.third-next {
  right: -60px; /* Adjust as needed */
}

.third-sec-slider {
  overflow: hidden;
  .third-sec-slider-item {
    width: 114px !important;
    height: 65px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid green;
    margin: 0 10px;
    img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
    }
  }
}

#third-sec .slick-track {
  margin-left: 0 !important;
}


// #THIRD SEC 

// FOOTER 
.footer {
  background-color: $color-brown-dark;
  #logo-light {
    margin-bottom: 35px;
    display: block;
  }
  .footer-wrap {
    padding: 70px 52px 0px 28px;
    display: flex;
    justify-content: space-between;
  }
}
.footer-list {
  li {
    margin-bottom: 10px;
    a {
      color: #fff;
      font-weight: 500;
      &:hover {
        color: $color-tomato-light;
      }
    }
  }
}
.footer-col-right div {
  color: #fff;
  @include fz(26);
  @include lh(31.69);
  font-weight: 500;
  margin-bottom: 56px;
}
.footer-icons {
  display: flex;
  gap: 38px;
  margin-bottom: 30px;
  li:hover {
    .inst path, .face path, .pint path {
      fill: $color-tomato-light;
    }
    .twit path, .yout path {
      stroke: $color-tomato-light;
    }
  }  
}
.footer-col-left {
  margin-bottom: 44px;
}
.copy-right {
  margin-bottom: 20px;
  color: $color-white;
  @include fz(14);
  @include lh(17.07);
  font-weight: 500;
  text-align: center;
}

// #FOOTER






@media screen and (max-width: 860px) {
  .main-menu {
    display: none;
  }
  .hamb-wrap {
    display: block;
  }
  header .container {
    justify-content: flex-end;
  }
  #logo {
    margin-right: auto;
  }
}