*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  font-size: 1.25rem;
  line-height: 1.875rem;
  color: #ffffff;
}

.container {
  width: min(90%, 1170px);
  margin: 0 auto;
  border: 1px solid blue;
}

.h1 {
  font-family: "Delius Unicase";
  font-size: 2.25rem;
  line-height: 2.875rem;
  color: #000000;
  letter-spacing: 2px;
  margin-bottom: 80px;
  padding-top: 120px;
  text-align: center;
}

.card {
  position: relative;
  border-radius: 20px;
  background-color: white;
  overflow: hidden;
  cursor: pointer;
}
.card .pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  transform: translate(0px, 4px);
  scale: 1.1;
}
.card .icon {
  display: none;
}
.card:hover .bg-icon {
  height: 40px;
  width: 40px;
  background-color: rgba(229, 229, 229, 0.5);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
.card:hover .bg-icon .icon {
  display: inline-block;
}
.card:hover .bg-icon:hover {
  background-color: #E5E5E5;
}

.top {
  position: absolute;
  width: 100%;
  padding: 20px 20px 0;
  display: flex;
  justify-content: space-between;
  z-index: 3;
}

.bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0 20px 20px;
  display: flex;
  justify-content: space-between;
  z-index: 3;
}
.bottom .text-below {
  font-weight: 500;
}

.text-below2 {
  color: #E0E0E0;
}

.card-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(360deg, #241F24 0%, rgba(91, 91, 91, 0.447552) 34.11%, rgba(187, 186, 192, 0.26) 62.5%);
  z-index: 2;
  transition: all 0.3s ease;
}

.card:hover .card-overlay {
  background: linear-gradient(360deg, #241F24 1.04%, rgba(91, 91, 91, 0.26) 10.99%, rgba(187, 186, 192, 0) 16.29%);
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 370px);
  gap: 29px;
}

.w2-hor {
  grid-column: span 2;
}

.w2-vert {
  grid-row: span 2;
}

.w4 {
  grid-area: 2/1/4/3;
}

.r {
  display: grid;
  grid-auto-rows: minmax(370px, auto);
}