@font-face {
  font-display: swap;
  font-family: "Gilroy";
  font-style: medium;
  font-weight: 400;
  src: url("../fonts/gilroy/Gilroy-Medium.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Gilroy";
  font-style: bold;
  font-weight: 400;
  src: url("../fonts/gilroy/Gilroy-Bold.woff2") format("woff2");
}
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #070707;
}

.hamburger-box {
  width: 40px;
  height: 30px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #070707;
  border-radius: 0px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -13px;
}
.hamburger-inner::after {
  bottom: -13px;
}

.hamburger--elastic .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.hamburger--elastic .hamburger-inner::before {
  top: 13px;
  transition: opacity 0.125s 0.275s ease;
}
.hamburger--elastic .hamburger-inner::after {
  top: 26px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 13px, 0) rotate(135deg);
  transition-delay: 0.075s;
}
.hamburger--elastic.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0;
}
.hamburger--elastic.is-active .hamburger-inner::after {
  transform: translate3d(0, -26px, 0) rotate(-270deg);
  transition-delay: 0.075s;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
}

.image {
  vertical-align: top;
  width: 100%;
  height: 100%;
  max-width: 970px;
  object-fit: cover;
}

body {
  font-family: "Gilroy";
  color: #070707;
  font-size: 18px;
  line-height: 24.5px;
}

.container {
  width: min(90%, 970px);
  margin: 0 auto;
}

/*===HEADER===*/
#header {
  position: fixed;
  width: 100%;
  height: 87.94px;
  left: 0;
  top: 0;
  background-color: #fff;
}

#header .container {
  border-bottom: 1px solid #828282;
  height: 100%;
}

.main-menu {
  padding-top: 28px;
}

.main-menu ul {
  display: flex;
  justify-content: space-between;
}

.heading {
  width: 124px;
  font-size: 47.3392px;
  line-height: 59px;
  align-self: center;
}

.main-menu ul li a {
  font-size: 18px;
  text-decoration: none;
  color: #828282;
  letter-spacing: 0.02em;
}

.main-menu ul li a:hover, .main-menu ul li a.active,
.lang:hover, .lang.active {
  color: #070707;
  transition: 0.5s;
}

.lang {
  text-decoration: none;
  color: #828282;
}

.lang-wrap {
  display: flex;
  transform: rotate(-90deg);
  width: 68px;
  height: 17.05px;
  gap: 5px;
  font-size: 16px;
  line-height: 19.81px;
  align-self: center;
  padding-left: 10px;
  z-index: -1;
}

.descr {
  width: 155.65px;
  align-self: center;
  font-style: 18px;
  line-height: 21.83px;
}

.title-wrap {
  display: flex;
  justify-content: space-between;
  padding-top: 30.69px;
  height: 191px;
}

/*===#HEADER===*/
main {
  padding-top: 100px;
}

/*===FIRST===*/
h1 {
  font-size: 48px;
  line-height: 65.3px;
  font-weight: 700;
  margin-bottom: 45px;
}

/*===#FIRST===*/
/*===ABOUT===*/
#about {
  padding: 40px 0;
  text-align: center;
}

.grey-bg {
  background-color: #F6F6F6;
}

h2 {
  font-size: 34px;
  line-height: 46.3px;
  font-weight: 700;
  margin-bottom: 44px;
}

p + p {
  font-weight: 400;
  margin-top: 31px;
}

/*===#ABOUT===*/
/*===SKILLS===*/
#skills {
  padding: 40px 0;
  text-align: center;
}

#skills h2 {
  margin-bottom: 15px;
}

#skills p {
  margin-bottom: 48px;
}

#skills .item-descr {
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.02em;
  font-weight: 700;
  margin-bottom: 60px;
  color: #828282;
}

#skills .item-descr.f {
  margin-bottom: 80px;
}

.item-icon {
  width: 23%;
}

.item-icon img {
  margin-bottom: 26px;
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.container .text-skills {
  text-align: center;
}

#skills .icon-list {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.stars-row .stars {
  width: 26px;
  height: 26px;
}

.stars + .stars {
  margin-left: 6px;
}

.stars-row {
  margin-bottom: 26px;
}

.stars-row.ff {
  margin-bottom: 0;
}

/*===#SKILLS===*/
/*===PORTFOLIO===*/
#portfolio {
  padding: 40px 0;
  text-align: center;
}

#portfolio h2 {
  margin-bottom: 43px;
}

#portfolio img {
  margin-bottom: 40px;
}

#portfolio .port-link .portfolio-link {
  color: #070707;
  margin-bottom: 70px;
}

/*===#PORTFOLIO===*/
/*===CONTACTS===*/
#contacts {
  padding: 40px 0;
  text-align: center;
}

#contacts h2 {
  margin-bottom: 15px;
}

#contacts p {
  margin-bottom: 56px;
}

.ending {
  font-size: 14px;
  line-height: 19px;
  color: #828282;
}

#contacts button {
  background-color: #070707;
  width: 180px;
  height: 44px;
  padding: 3px 16px 0 16px;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.09em;
  font-weight: 700;
  border: 1px solid #070707;
  border-radius: 999rem;
  margin-bottom: 30px;
}

ul.social-media {
  display: flex;
  gap: 50px;
  justify-content: center;
  margin-bottom: 60px;
  flex-wrap: wrap;
}

/*===#CONTACTS===*/
.hamb-wrap {
  display: none;
}

#mobile-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  transform: translateY(-100%);
  transition: all 0.4s ease;
  z-index: 100;
  padding-bottom: 20px;
}
#mobile-sidebar.open {
  transform: translateY(72px);
}

.lang-choose {
  margin-left: 54px;
}

#shadow {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: calc(100vh - 72px);
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(4px);
  z-index: 99;
  display: none;
}
#shadow.show {
  display: block;
}

.mob-menu ul {
  margin-bottom: 20px;
}
.mob-menu ul li {
  margin: 0 32px;
  border-bottom: 1px solid #828282;
}
.mob-menu ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.375rem;
  line-height: 2.5rem;
  padding: 0 20px;
  color: #828282;
}
.mob-menu ul li a:active {
  color: #070707;
}

@media screen and (max-width: 880px) {
  .item-icon {
    width: 50%;
  }

  .item-icon.left {
    padding-left: 70px;
  }

  .item-icon.right {
    padding-right: 70px;
  }
}
@media screen and (max-width: 720px) {
  .main-menu {
    display: none;
  }

  .hamb-wrap {
    display: block;
    position: absolute;
    right: 24px;
    top: 7px;
  }

  #header {
    height: 72px;
  }

  main {
    padding-top: 60px;
  }

  .heading {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 620px) {
  .icon-list {
    flex-direction: column;
    align-items: center;
  }

  .item-icon.left {
    padding-left: 0;
  }

  .item-icon.right {
    padding-right: 0;
  }

  #skills .item-descr {
    margin-bottom: 44px;
  }
}
@media screen and (max-width: 460px) {
  .title-wrap {
    display: inline-block;
    height: 100%;
  }

  .heading {
    font-size: 40px;
    margin-bottom: 20px;
    width: 100%;
  }

  h2 {
    margin-bottom: 34px;
  }

  p {
    margin-bottom: 38px;
  }

  .descr {
    width: 100%;
    margin-bottom: 20px;
  }

  #skills .item-descr {
    font-size: 18px;
    margin-bottom: 30px;
  }

  body {
    font-size: 20px;
  }

  .ending {
    font-size: 16px;
  }

  button {
    margin-bottom: 40px;
  }

  .lang-wrap {
    /* display: none; */
    position: fixed;
    rotate: -90deg;
    right: 0;
    top: 154px;
    transform: translateY(300%);
    background-color: #fff;
    width: 86px;
  }
  .lang-wrap.open {
    transform: translateX(0);
  }
}
@media screen and (max-width: 398px) {
  .item-icon {
    width: 100%;
  }

  .social-media li {
    width: 30%;
    object-fit: contain;
  }

  .left1 {
    padding-left: 40px;
  }

  .right1 {
    padding-right: 40px;
  }

  .heading {
    margin-bottom: 20px;
  }
}