:root {
  --primary-color: #545454;
  --black-color: #1C1C1C;
  --secondary-color: #969696;
  --blue-color: #007BFF;
  --border-color: #E4E4E4;
  --body-color: #E5E5E5;
}
*, *::before, *::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', serif;
  font-size: 15px;
  font-weight: 400;
  color: var(--primary-color);
  padding: 55px 0;
  background-color: #E5E5E5;
}
.container {
  width: min(90%, 570px);
  margin: 0 auto;
  padding: 35px 34px 97px;
  background-color: #ffffff;
  /* border: 1px solid red; */
}
.wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 0;
}
.wrap1 {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
input[type=text]:focus, input[type=email]:focus, 
input[type=tel]:focus, input[type=number]:focus {
  outline: 0 none;
  border: 1px solid var(--blue-color);
}
button[type=submit]:focus {
  outline: 0 none;
  box-shadow: rgba(81, 141, 202, 0.364) 0px 8px 14px;
}
.radio-label:focus .circle {
  border: 1px solid var(--blue-color);
}
h1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: var(--black-color);
  margin-bottom: 19px;
  padding-left: 2px;
}
.secondary-text {
  color: var(--secondary-color);
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 1px;
}
.sec1 {
  position: relative;
  top: 5px;
  left: 2px;
}
/* input[type=email] {
  width: 100%;
} */
input[type=text], input[type=email], input[type=tel], input[type=number] {
  height: 38px;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  padding: 8px 10px;
  font-family: 'Roboto', serif;
  font-size: 15px;
  font-weight: 400;
}
.jq-selectbox__select {
  height: 38px;
  padding: 8px 15px;
  border-radius: 6px;
  background: #ffffff;
  box-shadow: none;
  border: 1px solid var(--border-color);
  border-bottom-color: var(--border-color);
  text-shadow: none;
  font: 15px/30px 'Roboto', serif;
  color: var(--secondary-color); 
}
.jq-selectbox {
  width: 100%;
}
.jq-selectbox__select:hover {
  background: #ffffff;
}
.jq-selectbox__trigger {
  border-left: none;
}
.jq-selectbox__trigger-arrow {
  border: none;
  background: url('../img/arrow-up-down.svg') 50% 50%/12.5px 15.5px no-repeat;
  width: 10.5px;
  height: 13.5px;
  top: 13px;
  right: 11px;
  transition: all .2s ease;
}
.jq-selectbox__trigger-arrow:hover {
  opacity: 0.6;
}
.jq-selectbox__select:active {
  box-shadow: none;
  background: #ffffff;
  border: 1px solid #007bff48;
}
.jq-selectbox.focused .jq-selectbox__select {
	border: 1px solid var(--blue-color);
}
.has-err input[type=text], .has-err input[type=email] {
  border-color: red;
}
.has-err input[type=text], .has-err input[type=email] {
  border-color: red;
}
.jq-selectbox.disabled .jq-selectbox__select { 
  background-color: #EBEBE4;
  cursor: not-allowed;
}

.jq-selectbox__select-text {
  position: absolute;
  top: -1px;
  left: 10px;
  line-height: 38px;
}
input[type=text]:disabled, input[type=email]:disabled, input[type=tel]:disabled, input[type=number]:disabled, button:disabled {
  background-color: #EBEBE4;
  cursor: not-allowed;
}
/* input[type=text]:required + label::after, input[type=email]:required + label::after, select:required + label::after, button:required + label::after, input[type=radio]:required + label::after {
  content: '*';
  color: red;
  display: inline-block;
  margin-right: 5px;
} */
input[type=text]:disabled + label, input[type=email]:disabled + label, input[type=tel]:disabled + label, input[type=number]:disabled + label {
  opacity: 0.4;
}
label:not(label.radio-label) {
  margin-bottom: 7px;
  line-height: 22px;
  display: inline-block;
}
.form-item {
  width: 49%;
  position: relative;
  height: 67px;
  /* border: 1px solid green; */
}
.form-item.w100 {
  width: 100%;
  /* border: 1px solid blue; */
}
.form-item1 {
  width: 30%;
  position: relative;
  /* border: 1px solid green; */
}
input[type=text], input[type=email], input[type=tel], input[type=number] {
  width: 100%;
}
button[type=submit] {
  width: 60%;
}
.form-item label.fake {
  position: absolute;
  left: 10px;
  top: 37px;
  transition: all .2s ease;
}
input[type=text]:focus + .fake, input[type=email]:focus + .fake,
input[type=tel]:focus +.fake , input[type=number]:focus + .fake,
input[type=text]:not(:placeholder-shown) + .fake,
input[type=email]:not(:placeholder-shown) + .fake,
input[type=tel]:not(:placeholder-shown) + .fake,
input[type=number]:not(:placeholder-shown) + .fake {
  top: 19px;
  background-color: #ffffff;
  height: 20px;
  padding: 0 3px;
  font-size: 12px;
}
/*
Additional elements of input field
*/
.icon {
  position: absolute;
  right: 0px;
  bottom: 0px;
  background-color: silver;
  width: 38px;
  height: 38px;
  border-radius: 0 6px 6px 0;
}
#email {
  margin-bottom: 7px;
}
.margin-right {
  margin-right: 10px;
}
div.last a {
  color: var(--blue-color);
  text-decoration: none;
}
div.last .secondary-text {
  margin-bottom: 20px;
}
.form-item.last {
  height: 38px;
}
button[type=submit] {
  background-color: var(--blue-color);
  border: none;
  border-radius: 6px;
  padding: 8px;
  height: 38px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.1px;
  font-weight: 600;
  line-height: 22px;
}
button[type=submit]:hover {
  background-color: var(--blue-color);
  opacity: 0.8;
  transition: all .2s ease;
}
.line {
  height: 1.5px;
  background-color: var(--border-color);
  margin-bottom: 20px;
}
div.terms span + span {
  margin-left: 14px;
}
a {
  vertical-align: bottom;
}
/* .select:after {
  content: url(../img/arrow-up-down.svg);
  position: absolute;
  top: 30px;
  right: 2px;
  padding: 12.25px 13.75px 12.25px 14.75px;
  transition: all .2s ease;
  cursor: pointer;
  background-color: #ffffff;
  background-position: 25% 75%;
  width: 36px;
  height: 36px;
  border-radius: 0 6px 6px 0;
  z-index: 2; */

option {
  background-color: transparent;
}
.radio {
  margin-bottom: 3px;
}
.radio label {
  padding-left: 25px;
  cursor: pointer;
}
.radio > label {
  margin-right: 16px;
}
input[type=radio] {
  opacity: 0;
  width:0; 
  height:0;
}
.radio-label .circle {
  position: absolute;
  top:0;
  left:0;
  width:20px; 
  height:20px;
  border: 1px solid var(--border-color);
  border-radius: 50%;
  transition: .3s background-color;
}
span.circle.circle2 {
  left: 83px;
}
label:hover .circle {
  background-color: #ccc;
}
.radio-label input:checked ~ .circle {
  background-color: var(--blue-color);
}
.radio-label input:checked ~ .circle::after,
.radio-label input:checked ~ .circle2::after  {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #ffffff;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.spacing {
  padding-right: 5px;
  padding-left: 5px;
}

.jq-file {
  width: 93%;
  border-radius: 6px;
  box-shadow: none;
  margin-top: 12px;
}

.jq-file__name {
  height: 30px;
  padding: 8px 15px;
  border-radius: 6px;
  background: #ffffff;
  box-shadow: none;
  border: 1px solid var(--border-color);
  border-bottom-color: var(--border-color);
  text-shadow: none;
  font-size: 0;
  color: var(--primary-color); 
  line-height: 12px;
}

.jq-file__browse {
  padding: 3px 10px;
  box-shadow: none;
  border-radius: 0 5px 5px 0;
  text-shadow: none;
  border-left: none;
  font-size: 0;
  line-height: 22px;
  background: url('../img/icon-cam.svg') 50% 50%/16px 16px no-repeat;
  width: 16px;
  height: 16px;
  top: 6px;
  right: 6px;
  position: absolute;
  transition: all .2s ease;
  /* border-top: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color); */
}
/* .jq-file__name:active .jq-file__browse {
  border-top: 1px solid var(--blue-color);
  border-right: 1px solid var(--blue-color);
} */

.jq-file:hover .jq-file__browse {
	opacity: 0.6;
	box-shadow: none;
}
.jq-file.focused .jq-file__name {
	border: 1px solid var(--blue-color);
}
.jq-file.disabled,
.jq-file.disabled .jq-file__name,
.jq-file.disabled .jq-file__browse {
	border-color: none;
  cursor: not-allowed;
	background: #EBEBE4;
	box-shadow: none;
}

.pic-wrap {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}
.pic-wrap .img-avatar {
  width: 100px;
  height: 100px;
  object-fit: cover;
  position: relative;
  transform: translate(-10%, 0);
  
}

.button-reset {
  border: 1px solid var(--border-color);
  width: 30px;
  height: 30px;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: none;
  cursor: pointer;
}
.button-reset:focus, .button-reset:focus-visible {
  border: 1px solid var(--blue-color);
  outline: 0;
}
.button-reset:hover {
  opacity: 0.6;
}
.reset {
  margin-top: 12px;
}
.reset-icon {
  position: relative;
  top: 2px;
}

@media screen and (max-width: 650px) {
  body {
    font-size: 16px;
    padding: 45px 0;
  }
  .form-item {
    width: 100%;
  }
  .margin-right {
    margin-right: 0;
  }
  .form-item1 {
    width: calc(100% - 130px);
  }
  button[type=submit] {
    width: 100%;
  }
  .container {
    padding: 30px 20px 50px;
  }
}
@media screen and (max-width: 400px) {
  .wrap1 {
    flex-wrap: wrap;
  }
  .pic-wrap {
    margin: 0 auto;
  }
  .form-item1 {
    width: calc(100% - 30px);
  }
  h1 {
    text-align: center;
  }
}