/* montserrat-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat/montserrat-v25-latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat/montserrat-v25-latin-700.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans/open-sans-v35-latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/open-sans/open-sans-v35-latin-italic.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/source-sans-pro/SourceSansPro-Regular.woff2") format("woff2");
}
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--elastic .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.hamburger--elastic .hamburger-inner::before {
  top: 10px;
  transition: opacity 0.125s 0.275s ease;
}
.hamburger--elastic .hamburger-inner::after {
  top: 20px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(135deg);
  transition-delay: 0.075s;
}
.hamburger--elastic.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0;
}
.hamburger--elastic.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-270deg);
  transition-delay: 0.075s;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  line-height: 1.875rem;
  font-weight: 400;
  color: #2C4058;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

img {
  vertical-align: top;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

a, button {
  transition: all 0.2s ease;
}

.container {
  width: min(90%, 1170px);
  margin: 0 auto;
  border: 1px solid red;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.header-background header {
  background: linear-gradient(207deg, #7E5AFF 0%, #55B7FF 100%);
  height: 100px;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.hamb-wrap {
  display: none;
}

#mobile-sidebar {
  position: fixed;
  top: 162px;
  left: 0;
  width: 350px;
  height: 100vh;
  background-color: #fff;
  transform: translateX(-100%);
  transition: all 0.4s ease;
  z-index: 100;
  padding-top: 10px;
}
#mobile-sidebar.open {
  transform: translateX(0);
}

#shadow {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(4px);
  z-index: 99;
  display: none;
}
#shadow.show {
  display: block;
}

.mob-menu ul li {
  border-bottom: 1px solid blue;
}
.mob-menu ul li a {
  text-transform: uppercase;
  font-size: 1.375rem;
  line-height: 2.5rem;
  color: #2C4058;
  width: 100%;
  padding: 0 20px;
  display: inline-block;
}

@media screen and (max-width: 1000px) {
  .main-menu {
    display: none;
  }

  .hamb-wrap {
    display: block;
  }
}
.main-menu {
  margin-right: 8.5%;
}
.main-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 63px;
  align-items: center;
}
.main-menu ul a {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.875rem;
  line-height: 2.5rem;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding: 10px 10px 10px 20px;
}
.main-menu ul a::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: -4px;
  top: 13px;
  height: 9px;
  width: 9px;
  border: 1px solid #fff;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.main-menu ul a:hover::before, .main-menu ul a.active::before, .main-menu ul a:focus::before {
  background-color: #fff;
}
.main-menu ul a:focus-visible {
  outline-color: #f1897b61;
  outline-style: groove;
}
.main-menu ul a.first, .main-menu ul a.second {
  margin-right: 2px;
}

header {
  height: 162px;
  z-index: 1002;
  scroll-behavior: smooth;
}
header .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header .logo {
  margin-right: auto;
}

.icons-list {
  display: flex;
  gap: 20px;
}
.icons-list a:hover svg circle {
  opacity: 1;
}

.hamburger-inner {
  background-color: #fff;
}
.hamburger-inner::before {
  background-color: #fff;
}
.hamburger-inner::after {
  background-color: #fff;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::after,
.hamburger.is-active .hamburger-inner::before {
  background-color: #fff;
}

#first-sec {
  margin-bottom: 142px;
}

#first-sec-slider div {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  min-height: 600px;
  position: relative;
}

.slider-text {
  color: #fff;
  text-transform: uppercase;
  left: 0;
  top: 0;
}
.slider-text h1, .slider-text .h2 {
  font-size: 5rem;
  line-height: 5rem;
  letter-spacing: 8px;
  font-weight: 700;
}
.slider-text p {
  font-size: 1.125rem;
  letter-spacing: 5.4px;
}

.lSSlideWrapper.usingCss {
  height: 100vh !important;
  min-height: 600px;
}

.clone.left {
  height: 100vh !important;
  min-height: 600px;
}

.lslide.active {
  height: 100vh !important;
  min-height: 600px;
}

.lslide {
  height: 100vh !important;
  min-height: 600px;
}

.lSSlideOuter.vertical {
  position: relative;
}
.lSSlideOuter.vertical .lSPager.lSpg {
  position: absolute;
  right: 0;
  bottom: 50%;
  transform: translate3d(0, 0, 0) rotate(90deg) !important;
}

.lSSlideOuter .lSPager.lSpg > li {
  padding: 0 15px;
}
.lSSlideOuter .lSPager.lSpg > li a {
  width: 10px;
  height: 10px;
  background-color: transparent;
  transition: all 0.2s ease;
}

.lSSlideOuter .lSPager.lSpg > li.active a {
  background-color: #fff;
}

.lSSlideOuter .lSPager.lSpg > li:hover a {
  background-color: #fff;
  opacity: 0.5;
}

.lSSlideOuter .lSPager.lSpg > li a {
  border: 1px solid #fff;
}

.btn-scroll {
  position: absolute;
  left: 50%;
  bottom: 30px;
  width: 40px;
  height: 40px;
  transform: translate(-50%, -50%);
  background-color: transparent;
}
.btn-scroll:hover svg #circle {
  opacity: 1;
}

#second-sec {
  margin-bottom: 120px;
}
#second-sec .button {
  margin-bottom: 46px;
}

.h2 {
  font-size: 2.75rem;
  font-weight: 700;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  margin-bottom: 102px;
}
.h2::before {
  content: "";
  top: -44px;
  left: 50%;
  width: 100px;
  height: 2px;
  transform: translateX(-50%);
  background-color: #000;
  position: absolute;
}

.similar-sec-wrap .container {
  text-align: center;
}
.similar-sec-wrap .container .wrap-picture-text {
  display: flex;
  justify-content: space-between;
  gap: 70px;
}
.similar-sec-wrap .container .wrap-picture-text .text-content {
  text-align: left;
  padding-top: 150px;
}
.similar-sec-wrap .container .wrap-picture-text .text-content .descr {
  font-size: 1.375rem;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}
.similar-sec-wrap .container .wrap-picture-text .text-content .h3 {
  font-size: 2.75rem;
  line-height: 3.125rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.similar-sec-wrap .container .wrap-picture-text .text-content p {
  width: 90%;
  margin-bottom: 30px;
}

.picture {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 630px;
  height: 470px;
  aspect-ratio: 63/47;
  margin-top: 56px;
  position: relative;
}
.picture::before {
  content: "";
  top: -57px;
  left: -260px;
  width: 630px;
  height: 470px;
  background-color: #55B7FF;
  position: absolute;
  z-index: -1;
}

.button {
  display: inline-block;
  padding: 10px 39px 9px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  text-transform: uppercase;
  font-weight: 600;
  border: 1px solid #2C4058;
  position: relative;
  color: #2C4058;
  transition: 0.2s ease-in-out color;
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #000;
}

.button::before {
  content: " ";
  display: block;
  width: 190px;
  height: 190px;
  position: absolute;
  left: 0;
  top: -66px;
  background: #2C4058;
  border-radius: 100%;
  z-index: -10;
  transform: scale(0);
  -webkit-transition: 0.4s ease-in-out transform;
  -o-transition: 0.4s ease-in-out transform;
  -ms-transition: 0.4s ease-in-out transform;
  -moz-transition: 0.4s ease-in-out transform;
  transition: 0.4s ease-in-out transform;
}

.button:hover {
  color: #fff;
}

.button:hover::before {
  transform: scale(1.5);
}

.link span {
  margin-right: 5px;
}
.link a {
  font-size: 0.9375rem;
  font-style: italic;
  color: #000;
}
.link:hover:not(:last-child) a {
  opacity: 0.7;
}
.link:hover:not(:last-child) svg path {
  opacity: 0.7;
}

#third-sec .container {
  overflow: hidden;
  margin-bottom: 150px;
}
#third-sec .container .button {
  margin-bottom: 46px;
}
#third-sec .similar-sec-wrap .container .wrap-picture-text {
  flex-direction: row-reverse;
  gap: 0;
}
#third-sec .similar-sec-wrap .container .wrap-picture-text .picture {
  background-color: #7E5AFF;
}
#third-sec .similar-sec-wrap .container .wrap-picture-text .picture::before {
  left: 260px;
}

#forth-sec {
  margin-bottom: 192px;
}
#forth-sec .forth-sec-bg {
  height: 978px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#forth-sec .forth-sec-bg .container {
  padding: 163px 0 120px 0;
  text-align: center;
}
#forth-sec .forth-sec-bg .container .h2 {
  color: #fff;
}
#forth-sec .forth-sec-bg .container .h2:before {
  background-color: #fff;
}

.card {
  width: 370px;
  height: 514px;
  background-color: #fff;
  text-align: left;
}
.card .card-img {
  height: 240px;
}
.card .card-wrap-under-img {
  padding: 30px 10px 30px 20px;
}
.card .card-wrap-under-img .h3 {
  font-size: 1.375rem;
  line-height: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.card .card-wrap-under-img p {
  line-height: 1.60625rem;
  margin-bottom: 46px;
}

.user {
  display: flex;
  gap: 20px;
}
.user .user-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}
.user .user-name div:first-child {
  text-transform: uppercase;
  line-height: 1.4375rem;
}
.user .user-name div:last-child {
  font-size: 0.875rem;
  color: #55B7FF;
}

.slick-slide {
  margin: 0 10px;
}

.slick-list {
  margin: 0 -10px;
}

.second-prev,
.second-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  /* Adjust as needed */
  height: 40px;
  /* Adjust as needed */
  z-index: 1;
  cursor: pointer;
  transition: all 0.2s ease;
}
.second-prev:hover svg circle,
.second-next:hover svg circle {
  opacity: 1;
}

.second-prev {
  left: -50px;
  /* Adjust as needed */
}

.second-next {
  right: -50px;
  /* Adjust as needed */
}

.second-prev.slick-arrow {
  border: none;
  background-color: transparent;
}

.second-next.slick-arrow {
  border: none;
  background-color: transparent;
}

.slick-dots {
  bottom: -56px;
}
#fifth-sec {
  margin-bottom: 142px;
}
#fifth-sec .container {
  text-align: center;
}
#fifth-sec .button {
  padding: 9px 56px 9px;
}

.gallery {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 212px);
  margin-bottom: 63px;
}
.gallery a {
  position: relative;
}
.gallery a .gallery-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  display: none;
  z-index: 2;
}
.gallery a:hover div, .gallery a:hover .gallery-icon {
  display: block;
}
.gallery a.gallery-first {
  grid-area: 1/1/3/3;
}

.sl-wrapper .sl-close, .sl-wrapper .sl-navigation button, .sl-wrapper .sl-counter {
  color: #2C4058;
}

#six-sec {
  position: relative;
}

#map {
  height: 700px;
}

#map_link {
  position: relative;
  display: block;
}
#map_link::after {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(44, 64, 88, 0.4);
  z-index: 1001;
  transition: all 0.2s ease;
  width: 100%;
  height: 100%;
  opacity: 0;
}
#map_link .map-text {
  position: absolute;
  top: 26%;
  left: 0;
  width: 100%;
  text-align: center;
  color: #2C4058;
  font-size: 1.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0;
}
#map_link:hover::after {
  opacity: 0.8;
}
#map_link:hover .map-text {
  opacity: 0.7;
}
#map_link img {
  height: 700px;
}

#form-window {
  width: 770px;
  height: 450px;
  background-color: #fff;
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  text-align: center;
  padding: 105px 60px 68px;
}
#form-window .h2 {
  margin-bottom: 52px;
}

.wrap-form-content {
  display: flex;
  justify-content: space-between;
  gap: 26px;
}
.wrap-form-content .left-col {
  width: 50%;
}
.wrap-form-content .right-col {
  width: 50%;
}
.wrap-form-content .right-col form {
  display: flex;
  flex-direction: column;
}
.wrap-form-content .right-col .button {
  font-size: 1.125rem;
  line-height: 1.6875rem;
  font-weight: 400;
  background-color: transparent;
  width: 44%;
  padding: 11px 31px;
  align-self: flex-end;
}
.wrap-form-content .right-col .button:before {
  left: -30px;
}

input:focus {
  outline: 0 none;
}

input[type=text], input[type=email] {
  height: 43px;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  border-top: none;
  color: #000;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid rgba(44, 64, 88, 0.2);
  width: 100%;
  padding-bottom: 12px;
  background-color: transparent;
}

input[type=text]:focus, input[type=email]:focus {
  border-bottom: 1px solid #2C4058;
}

.form-element {
  margin-bottom: 30px;
  width: 100%;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  position: relative;
}
.form-element label {
  position: absolute;
  left: 0;
  top: 0px;
  transition: all 0.2s ease;
}
.form-element label.fake {
  opacity: 0.5;
  padding-left: 2px;
}
.form-element.last {
  margin-bottom: 34px;
  margin-top: -1px;
}

input[type=text]:not(:-moz-placeholder-shown) + label, input[type=email]:not(:-moz-placeholder-shown) + label, textarea:not(:-moz-placeholder-shown) + label {
  top: -26px;
  font-size: 1rem;
  color: rgba(44, 64, 88, 0.2);
}
input[type=text]:not(:-ms-input-placeholder) + label, input[type=email]:not(:-ms-input-placeholder) + label, textarea:not(:-ms-input-placeholder) + label {
  top: -26px;
  font-size: 1rem;
  color: rgba(44, 64, 88, 0.2);
}
input[type=text]:focus + label, input[type=text]:not(:placeholder-shown) + label, input[type=email]:focus + label, input[type=email]:not(:placeholder-shown) + label, textarea:focus + label, textarea:not(:placeholder-shown) + label {
  top: -26px;
  font-size: 1rem;
  color: #9c9b9bf5;
}

#footer {
  position: relative;
}
#footer .footer-bg {
  height: 549px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#footer .container {
  padding: 204px 200px 234px;
  display: flex;
  justify-content: space-between;
}
#footer .container .logo img {
  width: auto;
  height: auto;
  margin-bottom: 31px;
}
#footer .container .copy {
  font-size: 0.875rem;
  color: #fff;
}
#footer .link {
  display: flex;
  align-items: center;
  margin-bottom: 26px;
  gap: 6px;
}
#footer .link a {
  font-style: normal;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #000;
}
#footer .link:first-child span {
  margin-right: 0;
}