@use 'fonts';
@use 'hamburger';
$color-black: #2C4058;
$color-blue: #55B7FF;
$color-deep-blue: #7E5AFF;
$color-grey: #4B5562;
$primaryColor: #E57373;
$secondaryColor: #2ecc71;


*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@mixin fz($px_size) {
  font-size: ($px_size / 16) * 1rem;
}

@mixin lh($px_size) {
  line-height: ($px_size / 16) * 1rem;
}
@mixin pseudo{
  position: absolute;
  content: '';
}

body {
  font-family: 'Open Sans', sans-serif;
  @include fz(18);
  @include lh(30);
  font-weight: 400;
  color: $color-black;
}
.montserrat {
  font-family: "Montserrat", sans-serif;
}
img {
  vertical-align: top;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

a, button {
  transition: all .2s ease;
}

.container {
  width: min(90%, 1170px);
  // width: min(calc(100% - 430px));

  margin: 0 auto;
  border: 1px solid red;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.header-background {
  header {
    background: linear-gradient(207deg, #7E5AFF 0%, #55B7FF 100%);
    // background-color: #000;
    // background: linear-gradient(207deg, #694bd7 0%, #3f9bdd 100%);
    // backdrop-filter: blur(4px);
    height: 100px
  }
}


.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}
// MOBMENU & HAMBURGER
.hamb-wrap {
  display: none;
}

#mobile-sidebar {
  position: fixed;
  top: 162px;
  left: 0;
  width: 350px;
  height: 100vh;
  background-color: #fff;
  transform: translateX(-100%);
  transition: all .4s ease;
  z-index: 100;
  padding-top: 10px;
  &.open {
    transform: translateX(0);
  }
}

#shadow {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;//calc(100vh - 80px);
  background-color: rgba(0,0,0,.7);
  backdrop-filter: blur(4px);
  z-index: 99;
  display: none;
  &.show {
    display: block;
  }
}
.mob-menu {
  ul {
    li {
      border-bottom: 1px solid blue;
      a {
        text-transform: uppercase;
        @include fz(22);
        @include lh(40);
        color: $color-black;
        width: 100%;
        padding: 0 20px;
        display: inline-block;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .main-menu {
    display: none;
  }
  .hamb-wrap {
    display: block;
  }
}

.main-menu {
  margin-right: 8.5%;
  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 63px;
    align-items: center;
    a {
      font-family: 'Source Sans Pro', sans-serif;
      @include fz(14);
      @include lh(40);
      font-weight: 400;
      color: #fff;
      text-transform: uppercase;
      position: relative;
      // @include lh(50);
      padding: 10px 10px 10px 20px;
      &::before {
        content: '';
        position: absolute;
        border-radius: 50%;
        left: -4px;
        top: 13px;
        height: 9px;
        width: 9px;
        border: 1px solid #fff;
        // transform: translate(-200%, -38%);
        -webkit-transition: all .2s ease;
        -o-transition: all .2s ease;
        transition: all .2s ease;
      }
      &:hover, &.active, &:focus {
        // opacity: .7;
        &::before {
          background-color: #fff;
        }
      }
      &:focus-visible {
        outline-color: #f1897b61;
        outline-style: groove;
      }
      &.first, &.second {
        margin-right: 2px;
      }
    }
  }
}
// MOBMENU & HAMBURGER
// HEADER
header {
  height: 162px;
  z-index: 200;
  scroll-behavior: smooth;
  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  #logo {
    margin-right: auto;
  }
  .header-icons {
    display: flex;
    align-items: center;
    gap: 20px;
    a:hover svg circle{
      opacity: 1;
    }
  }
}
.hamburger-inner {
  background-color: #fff;
  &::before {
    background-color: #fff;
  };
  &::after {
    background-color: #fff;
  };
}
.hamburger.is-active .hamburger-inner, 
.hamburger.is-active .hamburger-inner::after, 
.hamburger.is-active .hamburger-inner::before {
  background-color: #fff;
}
// #HEADER 

// FIRST SEC 
#first-sec {
  margin-bottom: 142px;
}
#first-sec-slider div {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  min-height: 600px;
  position: relative;
}

.slider-text {
  color: #fff;
  text-transform: uppercase;
  left: 0;
  top: 0;
  h1, .h2 {
    @include fz(80);
    @include lh(80);
    letter-spacing: 8px;
    font-weight: 700;
  }
  p {
    @include fz(18);
    letter-spacing: 5.4px;
  }
}

// slider specifications
.lSSlideWrapper.usingCss {
  height: 100vh !important;
  min-height: 600px;
}
.clone.left {
  height: 100vh !important;
  min-height: 600px;
}
.lslide.active {
  height: 100vh !important;
  min-height: 600px;
}
.lslide {
  height: 100vh !important;
  min-height: 600px;
}
.lSSlideOuter.vertical{
  position: relative;
  .lSPager.lSpg {
    position: absolute;
    right: 0;
    bottom: 50%;
    transform: translate3d(0, 0, 0) rotate(90deg) !important;
  }
}
.lSSlideOuter .lSPager.lSpg>li {
  padding: 0 15px;
  a {
    width: 10px;
    height: 10px;
    background-color: transparent;
    transition: all .2s ease;
  }
}
.lSSlideOuter .lSPager.lSpg>li {
  &.active a {
    background-color: #fff;
  }
}
.lSSlideOuter .lSPager.lSpg>li:hover a {
  background-color: #fff;
  opacity: 0.5;
}
.lSSlideOuter .lSPager.lSpg>li a {
  border: 1px solid #fff;
}
.btn-scroll {
  position: absolute; 
  left: 50%;
  bottom: 30px;
  width: 40px;
  height: 40px;
  transform: translate(-50%, -50%);
  background-color: transparent;
  &:hover svg #circle {
    opacity: 1;
  }
}
// #slider specifications
// #FIRST SEC 

// SECOND SEC 
#second-sec {
  margin-bottom: 120px;
};
.similar-sec-wrap{
  .container {
    text-align: center;
    .h2 {
      @include fz(44);
      font-weight: 700;
      text-align: center;
      position: relative;
      text-transform: uppercase;
      display: inline-block;
      text-align: center;
      margin-bottom: 102px;
      &::before {
        content: '';
        top: -44px;
        left: 50%;
        width: 100px;
        height: 2px;
        transform: translateX(-50%);
        background-color: #000;
        position: absolute;
      }
    }
    .wrap-picture-text {
      display: flex;
      justify-content: space-between;
      gap: 70px;
      .text-content {
        text-align: left;
        padding-top: 150px;  
        .descr {
          @include fz(22);
          letter-spacing: 1.8px;
          text-transform: uppercase;
        }
        .h3 {
          @include fz(44);
          @include lh(50);
          font-weight: 700;
          text-transform: uppercase;
          margin-bottom: 20px;
        }
        p {
          width: 100%;
          margin-bottom: 30px;
        }
      }
    }
  }
}
.picture {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 630px;
  height: 470px;
  aspect-ratio: 63/47;
  margin-top: 56px;
  position: relative;
  &::before {
    content: '';
    top: -57px;
    left: -260px;
    width: 630px;
    height: 470px;
    background-color: $color-blue;
    position: absolute;
    z-index: -1;
  }
}

// BTN 
// .btn-wrap {
//   margin-bottom: 66px;
//   .button {
    // @include fz(14);
    // border: 1px solid $color-black;
    // padding: 16px 41px 15px 41px;
    // text-transform: uppercase;
    // color: #000;
//   }
//   &:hover {
//   }
// }

.button {
	display: inline-block;
  padding: 10px 39px 9px;
	text-align: center;
	cursor: pointer;
	overflow: hidden;
	text-transform: uppercase;
	font-weight: 600;
	border: 1px solid $color-black;
	position: relative;
	color: $color-black;
	transition: 0.2s ease-in-out color;
  @include fz(14);
  text-transform: uppercase;
  color: #000;
  margin-bottom: 46px;
}

.button::before {
	content: " ";
	display: block;
	width: 190px;
	height: 190px;
	position: absolute;
	left: 0;
	top: -66px;
	background: $color-black;
  
	border-radius: 100%;
	z-index: -10;
	transform: scale(0);

	-webkit-transition: 0.4s ease-in-out transform;
	-o-transition: 0.4s ease-in-out transform;
	-ms-transition: 0.4s ease-in-out transform;
	-moz-transition: 0.4s ease-in-out transform;
	transition: 0.4s ease-in-out transform;
}

.button:hover {
	color: #fff;
}

.button:hover::before {
	transform: scale(1.5);
}


// #BTN 

.link-map {
  span {
    margin-right: 5px;
  }
  a {
    @include fz(15);
    font-style: italic;
    color: #000;
  }
  &:hover { 
    a {
      opacity: 0.7;
    }
    svg path {
      opacity: .7; 
    }
  }
  
}
// #SECOND SEC

// THIRD SEC
#third-sec {
  .similar-sec-wrap .container .wrap-picture-text {
    flex-direction: row-reverse;
    gap: 0;
    .picture {
      background-color: $color-deep-blue;
      &::before {
        left: 260px;
      }
    }
  }
}

// #THIRD SEC 