$color-white: #fff;
$color-red: #F1897B;
$color-red-dark: #E54F3A;
$color-green: #85BBB1;
$color-green-neon: #53F3CD;
$color-green-neon-dark: #02E0AB; 
$color-blue: #689FF2;
$color-blue-dark: #262A3F;
$color-grey: #E4E4E4;
$color-grey-dark: #515773;
.playfair {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 400;
}
@import 'fonts';
@import 'hamburger';
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@mixin fz($px_size) {
  font-size: ($px_size / 16) * 1rem;
}

@mixin lh($px_size) {
  line-height: ($px_size / 16) * 1rem;
}

body {
  font-family: 'Lato', sans-serif;
  @include fz(18);
  @include lh(26);
  font-weight: 300;
  color: $color-blue-dark;
  background-position: 50% 4%;
  // background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #c9c9c9;
}

img {
  vertical-align: top;
  width: 100%;
  height: 99%;
  object-fit: cover;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

a, button {
  transition: all .2s ease;
}

.container {
  width: min(90%, 1170px);
  margin: 0 auto;
  border: 1px solid red;
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// HEADER
.header-offset {
  height: 30px;
  scroll-behavior: smooth;
}
header {
  height: 80px;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.244636) 24.1%, rgba(255, 255, 255, 0) 47.19%), rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(4.5px);
  z-index: 200;
  scroll-behavior: smooth;
  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  #logo {
    display: flex;
    align-items: center;
    margin-right: auto;
    // width: 145px;
    .logo-text {
      @include fz(20);
      @include lh(24);
      font-weight: 700;
      letter-spacing: 0.08rem;
      text-transform: uppercase;
      margin-left: 14px;
      color: $color-white;
    }
  }
}

.header-fixed {
  .header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
  }
  main {
    padding-top: 190px;
  }
}

main {
  flex-grow: 1;
  padding-top: 110px;
}
.main-menu {
  ul {
    display: flex;
    gap: 27px;
    a {
      @include fz(14);
      @include lh(24);
      font-weight: 400;
      letter-spacing: 0.08rem;
      color: $color-blue-dark;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -8px;
        height: 3px;
        width: 0;
        background-color: $color-red;
        transform: translateX(-50%);
        transition: all .2s ease;
        opacity: 0.3;
      }
      &:hover, &.active, &:focus {
        &::after {
          width: 106%;
        }
      }
    }
  }
}
// #HEADER


// MOB_BAR
.hamb-wrap {
  display: none;
}
#mobile-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  // height: 50vh;
  background-color: lightyellow;
  transform: translateY(-100%);
  transition: all .4s ease;
  z-index: 100;
  &.open {
    transform: translateY(80px);
  }
}
#shadow {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: calc(100vh - 80px);
  background-color: rgba(0,0,0,.7);
  backdrop-filter: blur(4px);
  z-index: 99;
  display: none;
  &.show {
    display: block;
  }
}
.mob-menu {
  ul {
    li {
      border-bottom: 1px solid $color-blue-dark;
      a {
        text-transform: uppercase;
        @include fz(22);
        @include lh(40);
        padding: 0 20px;
      }
    }
  }
}
@media screen and (max-width: 860px) {
  .main-menu {
    display: none;
  }
  .hamb-wrap {
    display: block;
  }
}
// #MOB_BAR

// SECTION_FIRST
.wrap-first {
  padding: 40px 55% 132px 0;
  h1 {
    @include fz(44);
    @include lh(52);
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 49px;
    width: 90%;
  }
}
p {
  opacity: 80%;
}
.text-italic {
  color: $color-green;
}
.btn {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  @include fz(20);
  @include lh(20);
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: $color-red;
  cursor: pointer;
  border: none;
  background-color: transparent;
  display: inline-block;
  span::after {
    content: '';
    left: 50%;
    bottom: 15px;
    height: 13px;
    width: 97%;
    transform: translateX(-44%);
    background-color: $color-red;
    opacity: 30%;
    position: absolute;
    transition: all .2s ease;
    position: relative;
    display: inline-block;
  }
  &:hover {
    color: $color-red-dark;
    span::after {
      background-color: $color-red-dark;
    }
    // border: 1px solid $color-grey; 
    // padding: 33px 89px;
  }
}
// #SECTION_FIRST


// SECTION_SECOND
#section-second {
  margin-bottom: 114px;
}
.flex-second-item1 {
  width: 49%;
  height: 100%;
  img {
    aspect-ratio: 57/67;
  }
}
.flex-second {
  display: flex;
}
.flex-item2 {
  background-color: #fff;
  opacity: 0.9;
}
.flex-second-item2 {
  padding: 48px 0 42px;
  margin: 42px 0 50px -14.4%;
  width: 66%;
  display: flex;
  flex-wrap: wrap;
  .col-left {
    width: 48%;
    text-align: center;
    .counter {
      @include fz(68);
      @include lh(72);
      color: $color-blue-dark;
      margin-bottom: 12px;
      span {
        @include fz(40);
        @include lh(50);
        color: $color-grey;
        margin-right: 10px;
      }
      + div {
        opacity: 0.8;
        position: relative;
        margin-bottom: 80px;
        &:before {
          content: '';
          width: 100px;
          height: 1px;
          left: 50%;
          bottom: -39px;
          transform: translateX(-50%);
          position: absolute;
          background-color: $color-green;
        }
        &:last-child {
          margin-bottom: 0;
          &:before {
            content: none;
          }
        }
      }
    }
  }
  .col-right {
    width: 52%;
    p {
      margin-bottom: 31px;
    }
    p:last-of-type {
      margin-bottom: 46px;
    }
  }
}
// #SECTION_SECOND

// SECTION_THIRD
#section-third {
  margin-bottom: 127px;
}
.flex-third {
  display: flex;
  gap: 30px;
  margin-bottom: 92px;
  .flex-third-item {
    width: 50%;
    padding: 50px 35px 20px;
    position: relative;
    h2 {
      margin-bottom: 30px;
      width: 96%;
    }
    &:before {
      content: '';
      width: 100%;
      height: 1px;
      left: 0;
      top: 0;
      position: absolute;
      background-color: $color-grey;

    }
    &.last {
      h2 {
        width: 84%;
      }
      p {
        width: 92%;
      }
    }
  }
}

.flex-third {
  margin-bottom: 90px;
}
.flex-third.last {
  margin-bottom: 0;
}
h2 {
  @include fz(40);
  @include lh(48);
}
// #SECTION_THIRD

// SECTION_FORTH 
#section-forth {
  margin-bottom: 120px;
}
.bg-forth {
  font-family: 'Lato', sans-serif;
  @include fz(32);
  @include lh(46);
  font-weight: 400;
  letter-spacing: 0.04em;
  opacity: 1;
  color: $color-white;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #646464;
  height: 400px;
  padding: 100px 300px 100px 160px;
}
.icon-quote {
  width: 102px;
  height: 84px;
  position: absolute;
  left: -62px;
  top: -32px;
}
figure  {
  position: relative;
  blockquote {
    margin-bottom: 40px;
  }
  figcaption {
    @include fz(20);
    @include lh(20);
    letter-spacing: 0.08em;
    font-weight: 400;
  }

}
// #SECTION_FORTH 

// SECTION_FIFTH
#section-fifth {
  margin-bottom: 120px;
}
// .wrap-screen {
//   height: 601px;
//   width: 83%;
//   border: 1px solid $color-grey;
//   border-radius: 32px;
//   margin: 0 auto 50px auto;
//   padding: 31px 70px 31px 30px;
//   position: relative;
//   aspect-ratio: 870/539;
//   &:before {
//     content: '';
//     left: 7px;
//     top: 49%;
//     width: 13px;
//     height: 13px;
//     border: 1px solid $color-grey;
//     border-radius: 50%;
//     position: absolute;
//   }
//   &:after {
//     content: '';
//     right: 14px;
//     top: 47%;
//     width: 35px;
//     height: 35px;
//     border: 1px solid $color-grey;
//     border-radius: 50%;
//     position: absolute;
//   }
//   iframe {
//     margin: 0 auto;
//   }
// }
.videowrapper {
  float: none;
  clear: both;
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  // height: 601px; 
  width: 83%;
  margin: 0 auto 50px auto;
  border: 1px solid $color-grey;
  border-radius: 32px;
  // padding-top: 30px;
  &:before {
    content: '';
    left: 7px;
    top: 49%;
    width: 13px;
    height: 13px;
    border: 1px solid $color-grey;
    border-radius: 50%;
    position: absolute;
  }
  &:after {
    content: '';
    right: 14px;
    top: 47%;
    width: 35px;
    height: 35px;
    border: 1px solid $color-grey;
    border-radius: 50%;
    position: absolute;
  }
}
.videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 31px 70px 31px 30px;
}

.fifth-item {
  width: 83%;
  margin: 0 auto;
  h2 {
    margin-bottom: 28px;
  }
  p {
    width: 90%;
  }
}
// #SECTION_FIFTH

// SECTION_SIX
#section-six {
  margin-bottom: 120px;
}
.flex-six-item1 {
  width: 51%;
  height: 100%;
  .pic-six {
    aspect-ratio: 60/54;
  }
}
.flex-six-item2 {
  margin: 42px 0 44px -17%;
  padding: 75px 0 82px 70px;
  width: 66%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 70px;
  row-gap: 66px;
  .flex-six-item2-item {
    width: 45%;
    .six-item-title {
      @include fz(24);
      @include lh(48);
      font-weight: 400;
      margin-bottom: 8px;
      ~ div:not(:last-of-type) {
        margin-bottom: 10px;
      }
      ~ div {
        opacity: 0.8;
      }
    }
  }
}
.btn.btn-border {
  border: 1px solid $color-grey;
  padding: 32px 90px 17px;
  margin-top: 16px;
  &:hover {
    border: 1px solid $color-red-dark; 
    padding: 32px 90px 17px;
    margin-top: 16px;
  }
}
.flex-six-item2-item:nth-child(2n) {
  padding-left: 14px;
}
// #SECTION_SIX

// SECTION_SEVEN
#section-seven {
  margin-bottom: 100px;
}
.seven-item {
  width: 40%;
  margin-bottom: 50px;
  h2 {
    margin-bottom: 23px;
    i {
      margin-left: 6px;
    }
  }
  p {
    width: 90%;
  }
}
.flex-seven {
  display: flex;
  justify-content: space-between;
  .flex-seven-item {
    width: 31.5%;
    color: $color-white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 37/34;
    padding: 28px 38px 26px;
    position: relative;
    display: flex;
    flex-direction: column;
    .overlay-flex-seven-item {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(25, 28, 41, 0.6);
    }
    p {
      margin-bottom: 26px;
      @include fz(16);
      @include lh(26);
      font-weight: 400;
    }
    div {
      margin-top: auto;
      i {
      @include fz(20);
      @include lh(20);
      letter-spacing: 0.08em;
      opacity: 80%;
      }
    }
  }
}
// #SECTION_SEVEN
// SECTION_EIGHT 
.separator {
  width: 100%;
  height: 1px;
  background-color: $color-grey;
  margin-bottom: 60px;
}
.flex-eight {
  display: flex;
  justify-content: space-between;
  .flex-eight-item {
    width: 40%;
    h2 {
      margin-bottom: 29px;
    }
  }
}
// #SECTION_EIGHT 

